.blog-text-xertz{
    font-size: 6vh;
    text-decoration: solid;
}
.blog-text-verb{
    font-size: 2.8vh;
    font-weight: bold;
    padding-right: 10vh;
}
.blog-space-start{
    padding-top: 25vh;
}
.blog-space-small{
    padding-top: 2vh;
}
.blog-space-big{
    padding-top: 9vh;
}
.blog-text{
    text-decoration: none;
    color: black;
    transition: 0.1s;
    font-size: 4vh;
}
.blog-text-small{
    font-size: 2.3vh;
    padding-top: 1vh;
}
.blog-text:hover{
    color: gray;
    text-decoration: none;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

