.bookPreview{
    transition: 0.25s;
    margin-bottom: 2vh;
}
.bookPreview:hover{
    box-shadow: 7px 8px 48px -8px rgba(0,0,0,0.6);
    -webkit-box-shadow: 7px 8px 48px -8px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px 8px 48px -8px rgba(0,0,0,0.6);
    scale: 101%;
    cursor: pointer;
}
.bookPreviewTextName{
    text-align: center;
    font-size: x-large;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
}
.bookPreviewTextAuthor{
    text-align: center;
    padding-bottom: 1.6vh;
}
.bookPreviewTextRating{
    text-align: center;
    padding-bottom: 1vh;
    font-size: larger;
}
.bookPreviewTextSynopsis{
    text-align: center;
}