.bookPreview{
    transition: 0.25s;
    margin-bottom: 2vh;
}
.bookPreview:hover{
    -webkit-box-shadow: 8px 8px 20px -4px rgba(0, 0, 0, 0.15); 
    box-shadow: 8px 8px 20px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 8px 8px 20px -4px rgba(0, 0, 0, 0.15);
    scale: 101%;
    cursor: pointer;
}
.bookPreviewTextName{
    text-align: center;
    font-size: x-large;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
}
.bookPreviewTextAuthor{
    text-align: center;
    padding-bottom: 1.6vh;
}
.bookPreviewTextRating{
    text-align: center;
    padding-bottom: 1vh;
    font-size: larger;
}
.bookPreviewTextSynopsis{
    text-align: center;
}
