.review{
    margin-bottom: 2vh;
    padding-top: 5vh;
}
.reviewTextName{
    text-align: center;
    font-size: 7vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
}
.reviewTextAuthor{
    text-align: center;
    padding-bottom: 1.6vh;
    font-size: 4vh;
}
.reviewTextRating{
    text-align: center;
    padding-bottom: 1vh;
    font-size: larger;
}
.reviewTextSynopsis{
    text-align: center;
    font-size: 2.3vh;
    padding-top: 4vh;
}
.reviewTextReview{
    text-align: center;
    font-size: 2.3vh;
    padding-bottom: 4vh;
}
.reviewTextReviewTop{
    padding-top: 5vh;
}
.reviewTextReviewBottom{
    padding-bottom: 6vh;
}
